<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Login</ion-card-subtitle>
    <ion-card-title>Chat App</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-label for="username" position="floating">username</ion-label>
      <ion-input #userInput id="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label for="password" position="floating">password</ion-label>
      <ion-input #passwordInput type="password" id="password"></ion-input>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div  class="matching">
          <ion-checkbox id="savelogin"></ion-checkbox>
          <ion-label for="savelogin">{{'save'}}</ion-label>
        </div>
          </ion-col>
          
          <ion-col>
          <ion-button (click)="login(userInput.value,passwordInput.value); userInput.value = '' ; passwordInput.value = '';" fill="clear">Login</ion-button>
        </ion-col>
        <ion-col>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>

</ion-content>
