ion-input {
    width: 100%;
    max-height:fit-content;
    padding: 0%;
    margin: 0%;

}
.stretch {
    display:block;
    width:100%;
    align-self: center;
    justify-self: center;;
    align-items:center;
}
ion-item {
    width:100%;
    padding: 0%;
    margin: 0%;
}
ion-card-content {
    width:100%;
    padding: 0%;
    margin: 0%;
}
ion-label {
    width:100%;
    padding: 0%;
    margin: 0%;
}

ion-card {
    padding: 0%;
    margin: 5%;
}