ion-input {
    width: 100%;
    max-height:fit-content;
    padding: 0%;
    margin: 0%;

}
ion-checkbox {
    display:flex;
}
.matching {
    font-size:x-small;
    padding: 0%;
    margin: 15%;
    border:0%;
    overflow: hidden;
    text-overflow:clip;
    white-space: nowrap;
    position: absolute;
    left: 0%;
    right: 0%;
    bottom: 0%;
    top: -0%;
    }
ion-item {
    width:100%;
    padding: 0%;
    margin: 0%;
}
ion-card-content {
    width:100%;
    padding: 0%;
    margin: 0%;
}
ion-label {
    width:100%;
    padding: 0%;
    margin: 0%;
}

ion-card {
    padding: 0%;
    margin: 5%;
}