<ion-header>
  <ion-toolbar mode='md' >
    <ion-title mode="ios">selection</ion-title>
    <ion-buttons slot="end">
    <ion-button *ngIf="checkRole()!='user'" slot="end" size='small' fill="clear" [routerLink]="'admin'">
      <ion-icon slot="icon-only" name="settings"></ion-icon>
    </ion-button>
    <ion-button slot="end" size='small' fill="clear" [routerLink]="'profile'">
      <ion-icon slot="icon-only" name="person"></ion-icon>
    </ion-button>
    <ion-button slot="end" size="small" fill="clear" (click)="logout()">
      <ion-icon slot="icon-only" name="person-remove-sharp"></ion-icon>
    </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-accordion-group style="width:100%; margin-left: 0%; margin-right:0%;">
    <ion-accordion *ngFor="let group of userPath">
      <ion-item slot="header" class="ion-text-center">
        <ion-label>{{group.name}}</ion-label>
      </ion-item>
      <ion-list slot="content">
      <ion-item *ngFor="let room of group.rooms" >
        <ion-label (click)="navigateaway(group.name,room)">{{room.name}}</ion-label>      
        <ion-fab-button *ngIf="group.editRoom && isGroupAssistant(group.id)" color="danger" slot="end" size="small" (click)="deleteRoom(group.id, room.id)">
          <ion-icon name="trash"></ion-icon>
        </ion-fab-button>
        <ion-fab-button *ngIf="!group.editRoom && isGroupAssistant(group.id)" color="warning" slot="end" size="small" (click)="launchUserManager(group.id, room.id, room.name)">
          <ion-icon name="person-remove"></ion-icon>
        </ion-fab-button>
      </ion-item>
      <ion-item *ngIf="!group.editRoom && isGroupAssistant(group.id)" class="ion-text-right"(click)="group.editRoom=true">
        <ion-label>Edit Rooms</ion-label>
        <ion-icon name="options" slot="end"></ion-icon>
      </ion-item>
      <ion-item *ngIf="group.editRoom==true && isGroupAssistant(group.id)">
        <ion-item>
          <ion-label position="floating">Room Name</ion-label>
          <ion-input #newChannel class="ion-text-left"></ion-input>
        </ion-item>
        <ion-buttons>
        <ion-fab-button slot="end" color="success" size="small" (click)="createRoom(group.id,newChannel.value)">
          <ion-icon name="checkmark"></ion-icon>
        </ion-fab-button>
        <ion-fab-button slot="end" color="warning" size="small" (click)="group.editRoom=false">
          <ion-icon name="close"></ion-icon>
        </ion-fab-button>
      </ion-buttons>
      
      </ion-item>
    </ion-list>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
