<ion-header>
  <ion-toolbar mode='md'>
    <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">{{groupname}} - {{roomname}}</ion-title>
    <ion-buttons slot="end">
    <ion-button *ngIf="checkRole()!='user'" slot="end" size='small' fill="clear" [routerLink]="'/admin'">
      <ion-icon slot="icon-only" name="settings"></ion-icon>
    </ion-button>
    <ion-button slot="end" size="small" fill="clear" (click)="logout()">
      <ion-icon slot="icon-only" name="person-remove-sharp"></ion-icon>
    </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #chatWindow>
  <div style="height:20px;"></div>

  <div *ngFor="let message of messageList,index as i" class="leftalign"  [ngClass]="{'rightalign' : message.user == authService.getUser()}">
    <ion-avatar (click)="sendChatRequest(message.userid)" *ngIf="checkMessage(message,messageList[i-1],i)"><ion-img [src]="avatarDirectory(message.img)"></ion-img></ion-avatar>
      <p class="abovediv" *ngIf="i<1 || message.user != messageList[i-1].user">{{message.user == authService.getUser() ? 'you' : message.user}}</p>
    <p *ngIf="message.message">
      {{ message.message }}
    </p>
    <div *ngIf="message.messageImg" style="max-width:400px; min-width:200px;">
      <img [src]="getImg(message.messageImg)">
    </div>
    <div class="matching">
      <p class="timetext" *ngIf="message.timeVisible">{{message.time}}</p>
        </div>
  </div>
</ion-content>

<ion-footer>
  <div *ngIf="image" style="max-width: 250px; margin-left: auto; margin-right: auto; height:auto;">
    <ion-button fill="clear" style="float: right; position: absolute; left: 65%"(click)="deleteImage()">x</ion-button>
  <ion-img [src]="image.data"></ion-img>
  </div>
  <ion-item>
    <ion-button style="margin-left:0%; margin-right:5%;" fill="clear" (click)="selectImage()"><ion-icon slot="icon-only" name="camera"></ion-icon></ion-button>
  <ion-input #messageInput minLength="1" type="text" required class="ion-padding" placeholder="Type your message" (keyup.enter)="sendMessage(messageInput.value); messageInput.value = null">
  </ion-input>
  <ion-button fill="clear" (click)="image ? sendImage() : sendMessage(messageInput.value); messageInput.value = ''">
    <ion-icon slot="icon-only" name="send-sharp"></ion-icon>
  </ion-button>
  </ion-item>
</ion-footer>