<ion-header>
  <ion-toolbar>
    <ion-title>Chat Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #chatWindow>
  <div *ngFor="let message of messageList">
  <ion-card (mouseup)="message.timeVisible = false" (mousedown)="message.timeVisible = true">
    <ion-card-header>{{message.user}}</ion-card-header>
    <ion-card-content>
      {{ message.message }}
    </ion-card-content>
    <div class="matching">
      <p class="timetext" *ngIf="message.timeVisible">{{message.time}}</p>
        </div>
  </ion-card>

  </div>
</ion-content>

<ion-footer>
  <ion-item>
  <ion-input #messageInput minLength="1" type="text" required class="ion-padding" placeholder="Type your message" (keyup.enter)="sendMessage(messageInput.value); messageInput.value = null">
  </ion-input>
  <ion-button fill="clear" (click)="sendMessage(messageInput.value); messageInput.value = null">
    <ion-icon slot="icon-only" color="dark" name="send-sharp"></ion-icon>
  </ion-button>
  </ion-item>
</ion-footer>