<ion-header>
  <ion-toolbar>
    <ion-title>Chat Page</ion-title>
    <ion-buttons slot="end">
    <ion-button *ngIf="checkRole()!='user'" slot="end" size='small' fill="clear" [routerLink]="'../../admin'">
      <ion-icon slot="icon-only" name="settings"></ion-icon>
    </ion-button>
    <ion-button slot="end" size="small" fill="clear" (click)="logout()">
      <ion-icon slot="icon-only" name="person-remove-sharp"></ion-icon>
    </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #chatWindow>
  <div *ngFor="let message of messageList,index as i" [ngClass]="{'rightAlign' : message.user == authService.getUser()}">
  <ion-card (mouseup)="message.timeVisible = false" (mousedown)="message.timeVisible = true">
    <ion-card-header class="ion-text-center" *ngIf="i<1 || message.user != messageList[i-1].user">{{message.user == authService.getUser() ? 'You' : message.user}}</ion-card-header>
    <ion-card-content>
      {{ message.message }}
    </ion-card-content>
    <div class="matching">
      <p class="timetext" *ngIf="message.timeVisible">{{message.time}}</p>
        </div>
  </ion-card>
  </div>
  <div style="height:10%"></div>
</ion-content>

<ion-footer>
  <ion-item>
  <ion-input #messageInput minLength="1" type="text" required class="ion-padding" placeholder="Type your message" (keyup.enter)="sendMessage(messageInput.value); messageInput.value = null">
  </ion-input>
  <ion-button fill="clear" (click)="sendMessage(messageInput.value); messageInput.value = null">
    <ion-icon slot="icon-only" color="dark" name="send-sharp"></ion-icon>
  </ion-button>
  </ion-item>
</ion-footer>