div {
    height:30%;
    margin:30%;
}
ion-input {
    text-align: center;
    margin:0%;
    padding: 0%;
    border:0%;
}
ion-card-title {
    margin: 10%;
}
ion-card {
    padding:0%;
    margin: 5%;
    border: 0%;
}