<ion-header class="ion-text-center">
  <ion-toolbar>
    <ion-title>admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-text-center">
    <ion-card-header>
      <ion-card-title><h3>User Management</h3></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label class="ion-text-center" [hidden]="currentState!='unchecked'" position="floating" for="modUser">username or email</ion-label>
        <ion-input #userToCheck id="modUser" clearInput="true" [disabled]="currentState!='unchecked'"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="ion-text-center" [hidden]="currentState!='createMode'" position="floating" for="secondaryInput">{{secondaryInput}}</ion-label>
        <ion-input #input2 id="secondaryInput" clearInput="true" [hidden]="currentState!='createMode'" ></ion-input>
      </ion-item>
      <div></div>
      <ion-button fill="clear" expand="block" color="warning" (click)="checkUser(userToCheck.value)" [disabled]="currentState!='unchecked'">Check User</ion-button>
      <ion-button fill="clear" expand="block" [disabled]="currentState!='createMode'" (click)="createUser(userToCheck.value, input2.value)">Add New User</ion-button>
      <ion-button fill="clear" expand="block" color="danger" [disabled]="currentState!='deleteMode'" (click)="deleteUser(userToCheck.value)">Remove User</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>