ion-input {
    text-align: center;
    margin:0%;
    padding: 0%;
    border:0%;
}
ion-list {
    background-color: #051924;
}
ion-label {
    margin:0%;
    padding: 0%;
    border:0%;
}
ion-item {
    margin:0%;
    padding: 0%;
    border:0%;;
}

ion-card-title {
    margin: 10%;
}
ion-card {
    padding:0%;
    margin: 0%;
    border: 0%;
}
ion-fab-button {
    padding:1%;
    margin:0%;
}
ion-button {
    padding:0%;
    margin-bottom:2%;
    margin-left: 25%;
    margin-right: 25%;
    border: 0%;
    width: 50%;
}
ion-col {
margin:0%;
border:0%;
padding:0%;
}
ion-grid {
    margin: 0%;
    border:0%;
    padding:0%;
}
.upgrade {
    margin-top:25%;
}